.shop {
    height: 40%;
    width: 100%;

    margin-bottom: 2%;
}

/* .shop img{
    position: relative;
    float: inline-end;
}
.shop button{
    position: absolute;
    right: 60%;
    top:70%;
} */
.shop .right {
    float: right;
    background-color: brown;
    background: url('../pages/image/banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vw;
    width: 70vw;
    padding: 6%;
    position: relative;
}

.right h5 {
    top: 20%;
    left: 4%;
    color: #7fad39;
    width: 100%;
}
.right h1{
    font-weight: bolder;
}
.right button{
background-color: #7fad39;
color: white;
font-weight: 500;
padding: 1% 4%;
border: none;
border-radius: 100px;

}
.right button:hover{
    background-color: #395311;
    color: white;
    font-weight: 500;
    }
    .categories__item {
        height: 270px;
        position: relative;
    }
    
    .categories__item h5 {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 20px;
        bottom: 20px;
        text-align: center;
    }
    
    .categories__item h5 a {
        font-size: 18px;
        color: #1c1c1c;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        background: #ffffff;
        display: block;
    }
    
    .categories__slider .col-lg-3 {
        max-width: 100%;
    }
    
    .categories__slider.owl-carousel .owl-nav button {
        font-size: 18px;
        color: #1c1c1c;
        height: 70px;
        width: 30px;
        line-height: 70px;
        text-align: center;
        border: 1px solid #ebebeb;
        position: absolute;
        left: -35px;
        top: 50%;
        -webkit-transform: translateY(-35px);
        background: #ffffff;
    }
    
    .categories__slider.owl-carousel .owl-nav button.owl-next {
        left: auto;
        /* right: -35px; */
    }
    .custom-carousel {
        max-width: 100%; /* Adjust width as needed */
        max-height: 20%; /* Adjust height as needed */
        margin: 0 auto; /* Center the carousel */
      }
      
      .custom-carousel .carousel-item {
        max-height: 400px; /* Adjust height as needed */
      }
      
      .custom-carousel .custom-img {
        max-height: 100px; /* Adjust height of images as needed */
        object-fit:contain;
      }
      
      .scrollitem {
        padding: 5px;
      }
      
      .col-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px;
        background-color: #fff;
        border-radius: 5px;
      } 
      .productcard .grp_btn button{
       opacity: 0.5;
transition: 0.6s;
      }
      .productcard:hover button{
opacity: 1;
       }
    

@media (max-width: 600px) {
    .sea {
        padding: 0%;
        width: 100%;
    }
    .shop .right {
        float: none;
        background-color: brown;
        background: url('../pages/image/banner.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30vh;
        width: 90vw;
        padding: 7%;
        position: relative;
    }
    .right h5 {
        top: 0%;
        left: 4%;
        color: #7fad39;
        width: 100%;
    }
    .right h1{
        font-weight: bolder;
        font-size: small;
    }
    .right button{
    background-color: #7fad39;
    color: white;
    font-weight: 500;
    padding: 1% 4%;
    border: none;
    border-radius: 100px;
    
    }
    .right button:hover{
        background-color: #395311;
        color: white;
        font-weight: 500;
        }
        .rows{
            flex-direction: column;
        }

}